<h1 class="welcome">Welcome to Lab Tech Finder</h1>
<h2 class="news" style="font-size: 1.7em;">Latest News in Australia</h2>


<% top5News.forEach(news => { %>
    <section class="news-card">
        <h2 class="news-title"><%= news.title %></h2>
        <h3 class='source'><%= news.source_id %> &nbsp; (<%= news.pubDate.split(' ')[0] %>)</h3>
        <p class="author">By: <%= news.creator[0] %></p>
        <div class="news-image-wrapper">
            <img src="<%= news.image_url %>" alt="">
        </div>
        <article><%= news.description.split('Continue reading...')[0] %></article>
        <a class="continue" href="<%= news.link %>">Continue reading...</a>

    </section>
    

<% }); %>