<h1 class="welcome"><%= data.labData.name %></h1>

<section class="about-lab">
    <span class="pi-card flip-outer">
        <div class="flip-inner">
            <div class="flip-front">
                <img class="pi-photo" src="<%=  data.userData[0].photo %>" alt="">
                <h3 class="big-name"><%= data.userData[0].name %></h3>
            </div>
            <div class="flip-back">
                <a href="/user/<%= data.userData[0].userid %>">
                    <h3 class="big-name"><%= data.userData[0].role %></h3>
                    <p class="lab-desc"><%= data.userData[0].email %></p>
                </a>
            </div>
        </div>
    </span>

    <h2 class="desc-title">About the lab</h2>
    <p class="lab-desc">Contact us: <span><%= data.labData.email %></span></p>

    <article class="lab-desc"><%= data.labData.description %></article>
    <article class="lab-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt aliquid officiis autem natus. Perferendis fuga eligendi laborum ipsam quis earum non architecto? Veritatis eum voluptatibus dignissimos quo distinctio vel?</article>
    <article class="lab-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt aliquid officiis autem natus. Perferendis fuga eligendi laborum ipsam quis earum non architecto? Veritatis eum voluptatibus dignissimos quo distinctio vel?</article>

</section>

<section>
    <div class="title-card">
        <h2 class="desc-title"><%= data.labData.name %> Family</h2>
    </div>
    <section class="lab-members">
    <% data.userData.forEach(member => { %>
        <% if (member.accesslevel > 1) {%>
                <div class="flip-outer">
                    <div class="flip-inner">
                        <div class="flip-front">
                            <img class="member-photo" src="<%=  member.photo %>" alt="">
                            <h3 class="member-name"><%= member.name %></h3>
                        </div>
                        <div class="flip-back">
                            <a href="/user/<%= member.userid %>">
                                <h3 class="big-name"><%= member.role %></h3>
                                <p class="card-email"><%= member.email %></p>
                            </a>
            
                        </div>
                    </div>
                </div>
        <% } %>
    <% }) %>
    </section>
</section>

<form action="/user/new" style="margin-top: 1em;" class="register" method="post">
    <input type="hidden" name="labName" value="<%= data.labData.name %>">
    <input type="hidden" name="labEmail" value="<%= data.labData.email %>">
    <button class="button" type="hidden" name="labid" value="<%= data.labData.labid %>">Register member</button>
</form>





<form action="/lab" method="post" style="margin-top: 5em;" class="delete">
    <input type="hidden" name="_method" value="DELETE">
    <article style="color: red;">WARNING: This action cannot be reveresed</article>
    <article style="color: red;">This will remove all lab members as well</article>
    <div>
        <input type="checkbox" required><span style="color: red;">I understand</span>
    </div>
    <button class="button" type="hidden" name="labid" value="<%= data.labData.labid %>" style="background-color: red;">Delete</button>
</form>


