<h1 class="welcome"><%= data.labData.name %></h1>

<section class="about-lab">
    <span class="pi-card flip-outer">
        <div class="flip-inner">
            <div class="flip-front">
                <img class="pi-photo" src="<%=  data.userData[0].photo %>" alt="">
                <h3 class="pi-name"><%= data.userData[0].name %></h3>
            </div>
            <div class="flip-back">
                <!-- <div> -->
                <h3><%= data.userData[0].role %></h3>
                <!-- <h1>John Doe</h1> -->
                <!-- <p>Architect & Engineer</p> -->
                <p>We love that guy</p>
                <!-- </div> -->
                <h3 class="pi-name"><%= data.userData[0].name %></h3>
            </div>
        </div>
    </span>

    <h2 class="desc-title">About the lab</h2>
    <p class="lab-desc">Contact us: <span><%= data.labData.email %></span></p>

    <article class="lab-desc"><%= data.labData.description %></article>
    <article class="lab-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt aliquid officiis autem natus. Perferendis fuga eligendi laborum ipsam quis earum non architecto? Veritatis eum voluptatibus dignissimos quo distinctio vel?</article>
    <article class="lab-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sunt aliquid officiis autem natus. Perferendis fuga eligendi laborum ipsam quis earum non architecto? Veritatis eum voluptatibus dignissimos quo distinctio vel?</article>

</section>

<section>
    <div class="title-card">
        <h2 class="desc-title"><%= data.labData.name %> Family</h2>
    </div>
    <section class="lab-members">
    <% data.userData.forEach(member => { %>
        <% if (member.accesslevel > 1) {%>
                <div class="flip-outer">
                    <div class="flip-inner">
                        <div class="flip-front">
                            <img class="member-photo" src="<%=  member.photo %>" alt="">
                            <h3 class="member-name"><%= member.name %></h3>
                        </div>
                        <div class="flip-back">
                            <h3><%= data.userData[0].role %></h3>
                            <p>We love that guy</p>
                            <h3 class="pi-name"><%= data.userData[0].name %></h3>
                        </div>
                    </div>
                </div>
        <% } %>
    <% }) %>
    </section>
</section>
