<h1 class="welcome"><%= data.entries.length %> <%= data.title %> Found</h1>
<!-- <h2 class="news" style="font-size: 1.7em;">Latest News in Australia</h2> -->
<ol>
    <% data.entries.forEach(entry => { %>
        <li class="search-entry"><a href="/<%= data.label %>/<%= entry.labid %>"><%= entry.name %></a></li>
    <% }); %>
</ol>
