<h1 class="welcome">Update User</h1>
<h1 class="welcome"><%= data.userData.name %></h1>

<form action="/user/edit/<%= data.userData.userid %>" class="form" style="padding: 10px" method="post" id="update">
    <input type="hidden" name="labid" value="<%= data.labData.labid %>">
    <input type="hidden" name="userid" value="<%= data.userData.userid %>">
    <section class="metrics">
        <h3 style="margin-top: 1em;">Personal Details</h3>
        <div>
            <p>Name</p>
            <input type="text" name="userName" required="required" value="<%= data.userData.name %>">
        </div>
        <div>
            <p>Email address</p>
            <input type="email" name="userEmail" required="required" value="<%= data.userData.email %>">
        </div>
        <!-- Only available to higher level users -->
        <% if (data.userData.accesslevel < 3) { %>
        
            <div>
                <p>Role</p>
                <select name="role" id="" form="update" required>
                    <option value="3,Postdoc Fellow">Postdoc Fellow</option>
                    <option value="2,Manager">Manager</option>
                    <option value="3,Biostatistician">Biostatistician</option>
                    <option value="3,Animal Model Technician">Animal Model Technician</option>
                    <option value="3,Research Officer">Research Officer</option>
                    <option value="3,Lab Tech">Lab Tech</option>
                </select>
            </div>

        <% } else { %>
            <!-- Default values if no access -->
            <input type="hidden" name="role" value="<%= data.userData.accesslevel %>,<%= data.userData.role %>">

        <% } %>

        <div>
            <p>Headshot photo url</p>
            <input type="text" name="userImage" required="required" value="<%= data.userData.photo %>">
        </div>

        <!-- Only appears for own self -->
        <% if (data.userData.userid == data.userData.userid) { %>
         
        <div>
            <p>Skills (comma delimited)</p>
            <textarea name="skill" cols="40" rows="5" form="update"><% data.skillData.forEach(skill => { %><%= skill.skill %>,<% }) %>
            </textarea>
        </div>

        <div>
            <p>Password</p>
            <input id="pass1" type="password" name="pass" required="required">
        </div>
        <div>
            <p>Confirm password</p>
            <input id="pass2" type="password" name="confirm" required="required">
        </div>

        <% } else { %>
            <!-- Default values if no access -->
            <input type="hidden" name="skills" value="<%= data.userData.skills %>">

            <!-- Give default password "check," prefix for identification -->
            <input type="hidden" name="pass" value="check,<%= data.userData.skills %>">
            <input type="hidden" name="confirm" value="check,<%= data.userData.skills %>">

        <% } %>

    </section>
    <button id="lab_submit" class="button">Update and log out</button>
    <p style="color: red;"><%= alert %></p>
</form>


<!-- $2b$10$2k0CAHA8.YXfT/14BmYGsu73Vmze4BGuzo3lOvzTiHcnaTfEz -->