<!-- <h1 class="welcome"></h1> -->

<section class="biodata">
    <section class="basic-info">
        <p><span><%= data.userData.name %></span></p>
        <div class="lab-info">
            <article>Member of: <span><%= data.labData.name %></span></article>
            <article>Position: <span><%= data.userData.role %></span></article>
        </div>
        <div class="contacts">
            <article>Email: <span><%= data.userData.email %></span></article>
            <article>Lab Email: <span><%= data.labData.email %></span></article>
        </div>
    </section>
    <section class="">
        <img class="member-photo" src="<%= data.userData.photo %>" alt="">
    </section>
</section>

<section class="career-info">
    <h3 class="title">About</h3>
    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officia error voluptates doloribus doloremque officiis alias vero et est vitae distinctio quod totam fuga corrupti nobis nisi aliquid, nesciunt id!</article>
    <article>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam dolore, ducimus, repudiandae exercitationem consectetur odit, aperiam soluta possimus nam eveniet ipsam explicabo vitae rem quisquam quod consequuntur quas. Sed, impedit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat obcaecati consectetur, numquam harum odit nihil praesentium quo, totam sit rem provident eligendi voluptatibus enim quia dolor vero similique molestias. Corporis.</article>
</section>

<section class="career-info">
    <h3 class="title">Skills</h3>
    <% if (data.skillData) { %>
        <article>
            <% data.skillData.forEach((skill, index) => { %>
                <% if (index == data.skillData.length - 1) { %>
                    <%= skill.skill %>.
                <% } else { %>
                    <%= skill.skill %>,
                <% } %> 
        <% }) %>     
    <% } %>
    </article>
</section>


<!-- Only lab PI, managers and self can edit the profile -->
<% if (session.activeLabId == data.labData.labid && session.activeUserAccess < data.userData.accesslevel || activeUserId == data.userData.userid) { %>

<form action="/user/edit/<%= data.userData.userid %>" style="margin-top: 1em;" class="update">
    <button class="button">Update</button>
</form>

<% } %>

<!-- Only lab member of "higher" access level can remove a member up to their level -->
<% if (session.activeLabId == data.labData.labid && session.activeUserAccess < data.userData.accesslevel || activeUserId == data.userData.userid) { %>

<form action="/user" method="post" style="margin-top: 5em;" class="delete">
    <input type="hidden" name="_method" value="DELETE">
    <p style="color: red;">WARNING: This action cannot be reveresed</p>
    <div>
        <input type="checkbox" required><span style="color: red;">I understand</span>
    </div>
    <button class="button" type="hidden" name="userid" value="<%= data.userData.userid %>" style="background-color: red;">Delete</button>
</form>
<% } %>